html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 223, 223);
}

.text-center {
    text-align: center;
}

.clockbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 39%;
    height: 65%;
    border-radius: 50%;
}

.clockbase {
    position: fixed;
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
}

.timeindicator {
    position: fixed;
    z-index: 1;
    width: 70%;
    height: auto;
}

.timeindicator div {
    position: fixed;
    width: 1%;
    height: 1%;
    margin: 280px 280px;
    background-color: rgb(126, 124, 124);
}

/* Position the 24-hour indicators, 15 degrees apart */
.timeindicator div:nth-child(1) {
    transform: rotate(15deg) translateY(-280px);
}
.timeindicator div:nth-child(2) {
    transform: rotate(30deg) translateY(-280px);
}
.timeindicator div:nth-child(3) {
    transform: rotate(45deg) translateY(-280px);
}
.timeindicator div:nth-child(4) {
    transform: rotate(60deg) translateY(-280px);
}
.timeindicator div:nth-child(5) {
    transform: rotate(75deg) translateY(-280px);
}
.timeindicator div:nth-child(6) {
    transform: rotate(90deg) translateY(-280px);
    background-color: red;
}
.timeindicator div:nth-child(7) {
    transform: rotate(105deg) translateY(-280px);
}
.timeindicator div:nth-child(8) {
    transform: rotate(120deg) translateY(-280px);
}
.timeindicator div:nth-child(9) {
    transform: rotate(135deg) translateY(-280px);
}
.timeindicator div:nth-child(10) {
    transform: rotate(150deg) translateY(-280px);
}
.timeindicator div:nth-child(11) {
    transform: rotate(165deg) translateY(-280px);
}
.timeindicator div:nth-child(12) {
    transform: rotate(180deg) translateY(-280px);
    background-color: red;
}
.timeindicator div:nth-child(13) {
    transform: rotate(195deg) translateY(-280px);
}
.timeindicator div:nth-child(14) {
    transform: rotate(210deg) translateY(-280px);
}
.timeindicator div:nth-child(15) {
    transform: rotate(225deg) translateY(-280px);
}
.timeindicator div:nth-child(16) {
    transform: rotate(240deg) translateY(-280px);
}
.timeindicator div:nth-child(17) {
    transform: rotate(255deg) translateY(-280px);
}
.timeindicator div:nth-child(18) {
    transform: rotate(270deg) translateY(-280px);
    background-color: red;
}
.timeindicator div:nth-child(19) {
    transform: rotate(285deg) translateY(-280px);
}
.timeindicator div:nth-child(20) {
    transform: rotate(300deg) translateY(-280px);
}
.timeindicator div:nth-child(21) {
    transform: rotate(315deg) translateY(-280px);
}
.timeindicator div:nth-child(22) {
    transform: rotate(330deg) translateY(-280px);
}
.timeindicator div:nth-child(23) {
    transform: rotate(345deg) translateY(-280px);
}
.timeindicator div:nth-child(24) {
    transform: rotate(360deg) translateY(-280px);
    background-color: red;
}

/* Adjust clock hands */
.clockhour {
    position: fixed;
    z-index: 2;
    top: 27%;
    left: 45%;
    width: 8px;
    height: 165px;
    background-color: #555;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 4px 120px;
    animation: rotate-hour 86400s linear infinite; /* Full 24-hour cycle */
}

.clockminute {
    position: fixed;
    z-index: 3;
    top: 16%;
    left: 46%;
    width: 8px;
    height: 220px;
    background-color: #555;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 4px 180px;
    animation: rotate-minute 3600s linear infinite;
}

.clocksecond {
    position: fixed;
    z-index: 4;
    top: 7%;
    left: 46%;
    width: 4px;
    height: 280px;
    background-color: red;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 240px;
    animation: rotate-second 60s linear infinite;
}

.clocksecond:after {
    position: absolute;
    left: -5px;
    bottom: 56px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.clockcenter {
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 29%;
    border-radius: 50%;
    box-shadow: inset 0 -1px 0 #fafafa, inset 0 1px 0 #e3e3e3;
}

.clockcenter:after {
    display: block;
    top: 50%;
    width: 23%;
    height: 23%;
    margin: 39%;
    background-color: #ddd;
    border-radius: 50%;
}

/* MEDIA QUERIES */

/* large monitor like 32 inch  */
@media only screen and (min-width: 1900px) and (max-width: 2000px) {
    .clockbox {
        width: 23vw;
        height: 28vw;
    }

    .clockhour {
        width: 6px;
        height: 145px;
        top: 25%;
        left: 50%;
    }

    .clockminute {
        width: 6px;
        height: 195px;
        top: 10%;
        left: 48%;
    }

    .clocksecond {
        width: 3px;
        height: 250px;
        top: 0%;
        left: 49%;
    }

    .timeindicator div {
        margin: 220px 220px;
    }
}

/* Samsung tab (1025px screen width) */
@media only screen and (min-width: 1025px) and (max-width: 1100px) {
    .clockbox {
        width: 50vw;
        height: 50vw;
    }

    .clockhour {
        width: 6px;
        height: 145px;
        top: 25%;
        left: 41%;
    }

    .clockminute {
        width: 6px;
        height: 195px;
        top: 11%;
        left: 40%;
    }

    .clocksecond {
        width: 3px;
        height: 250px;
        top: 0%;
        left: 40%;
    }

    .timeindicator div {
        margin: 220px 220px;
    }
}

/* iPads (768px to 1024px screen width) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .clockbox {
        width: 50vw;
        height: 50vw;
    }

    .clockhour {
        width: 6px;
        height: 145px;
        top: 25%;
        left: 47%;
    }

    .clockminute {
        width: 6px;
        height: 195px;
        top: 12%;
        left: 49%;
    }

    .clocksecond {
        width: 3px;
        height: 250px;
        top: 0%;
        left: 48%;
    }

    .timeindicator div {
        margin: 220px 220px;
    }
}

/* Mobile Phones (less than 768px screen width) */
@media only screen and (max-width: 768px) {
    .clockbox {
        width: 70vw;
        height: 70vw;
    }

    .clockhour {
        width: 5px;
        height: 115px;
        top: 10%;
        left: 35%;
    }

    .clockminute {
        width: 5px;
        height: 165px;
        top: 4%;
        left: 38%;
    }

    .clocksecond {
        width: 2px;
        height: 250px;
        top: -11%;
        left: 33%;
    }

    .timeindicator div {
        margin: 180px 180px;
    }
}

/* Small Phones (540px and less) */
@media only screen and (max-width: 540px) {
    .clockbox {
        width: 80vw;
        height: 80vw;
    }

    .clockhour {
        width: 4px;
        height: 122px;
        top: 7%;
        left: 36%;
    }

    .clockminute {
        width: 4px;
        height: 155px;
        top: 1%;
        left: 35%;
    }

    .clocksecond {
        width: 2px;
        height: 240px;
        top: -16%;
        left: 33%;
    }

    .timeindicator div {
        margin: 150px 150px;
    }
}



    /*other media*/
    @media only screen and (min-width: 1101px) and (max-width: 1300px) {
        .clockbox {
            width: 50vw;
            height: 50vw;
        }
    
        .clockhour {
            width: 6px;
            height: 145px;
            top: 32%;
            left: 64%;
        }
    
        .clockminute {
            width: 6px;
            height: 195px;
            top: 116%;
            left: 68%;
        }
    
        .clocksecond {
            width: 3px;
            height: 250px;
            top: 7%;
            left: 63%;
        }
    
        .timeindicator div {
            margin: 220px 220px;
        }
    }


        /* Z Fold galaxy media */
    @media only screen and (min-width: 344px) and (max-width: 478px) {
        
        .clockbox {
            width: 65vw; 
            height: 65vw; 
        }

        .clockhour {
            width: 6px;
            height: 105px;
            top: 6%;
            left: 66%;
        }

        .clockminute {
            width: 6px;
            height: 164px;
            top: -21%;
            left: 66%;
        }

        .clocksecond {
            width: 2px;
            height: 226px;
            top: -46%;
            left: 66%;
        }

        .timeindicator div {
            margin: 150px 150px;
        }

}